SimpleApp/SimpleApp/obj/
SimpleApp/SimpleApp/publish/
SimpleApp/.vs/
SimpleApp/SimplWiXSetup/obj/
SimpleApp/SimpleApp/bin/
SimpleApp/SimpleApp/SimpleApp.csproj.user
SimpleApp/SimpleApp/SimpleApp_TemporaryKey.pfx
